{% extends 'base.html' %}

{% block body %}

<body>
    <h1>Add Teams and Projects Here</h1>
    <br>
    <h2>Add A Team</h2>
    <form action="{{ url_for('add_team') }}" method="POST">
        {{ team_form.csrf_token() }}
        {{ team_form.team_name.label }}
        <br>
        {{ team_form.team_name }}
        <br>
        {{ team_form.submit }}
    </form>
    <br><br><br>
    
    <h2>Add A Project</h2>
    <form action="{{ url_for('add_project') }}" method="POST">
        {{ project_form.csrf_token() }}
        {{ project_form.project_name.label }}
        <br>
        {{ project_form.project_name }}
        <br>
        {{ project_form.description.label }}
        <br>
        {{ project_form.description }}
        <br>
        {{ project_form.completed.label }}
        {{ project_form.completed }}
        <br>
        {{ project_form.team_selection.label }}
        {{ project_form.team_selection }}
        <br>
        {{ project_form.submit }}
    </form>


</body>

{% endblock %}